%% -*- mode: erlang;-*-

{require_otp_vsn, "R15"}.

{deps, [
        {cowboy,".*",{git, "https://github.com/extend/cowboy",{tag, "0.8.5"}}},
        {statman, ".*", {git, "https://github.com/Licenser/statman.git", {tag, "master"}}},
        {newrelic, ".*", {git, "git://github.com/dparnell/newrelic-erlang.git", "master"}}
       ]
}.

{sub_dirs, [
            "apps/newrelic-example",
            "rel"
           ]}.
